html{
    min-height: 100px;
}

body{
    background-image: linear-gradient(to bottom, lightgreen, skyblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}



.space { 
    text-align: center;
    margin-top: 150px; 
    margin-bottom: 50px;
    font-size: 50px;
    font-family: sans-serif;

}

#tokenSection{
    display: none;
}

.inputContainer {
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      
      #client_id {
        border: 2px solid white;
        background-color: transparent;
        border-radius: 10px;
        padding: 12px 15px;
        color: black;
        font-weight: 500;
        outline: none;
        transition-duration: .3s;
        font-family: Helvetica, Arial, sans-serif;
      }
      
      #client_id:focus,
      #client_id:valid {
        background-color: #ddd;
        transition-duration: .3s;
      }

    .inputContainer2 {
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      
      #client_secret {
        border: 2px solid white;
        background-color: transparent;
        border-radius: 10px;
        padding: 12px 15px;
        color: black;
        font-weight: 500;
        outline: none;
        transition-duration: .3s;
        font-family: Helvetica, Arial, sans-serif;
      }
      
      #client_secret:focus,
      #client_secret:valid {
        background-color: #ddd;
        transition-duration: .3s;
      }
    
.secretBottLabel{
    display: flex;
    justify-content: center;
    position:relative;
    right:91px;
    font-size: 25px;
}

#botton{
    display: none;
    text-align: center;  
    font-size: 22px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;  
    height: 100px;  
    color: black;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 50px;
    background-color: transparent;
    margin: auto;
    display: block;
    padding: 20px 20px;
    transition: background-color 0.3s ease;

}

#botton:hover{
    background-color: #afeedb;
}

  
.canvas-container {
    margin: 20px auto;
    width: 50%;
    display:none;
  }
  
  .myChart {
    display:none;
  }