html{
    min-height: 100px;
}

body{
    background-image: linear-gradient(to bottom, lightgreen, skyblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.space { 
    text-align: center;
    margin-top: 150px; 
    margin-bottom: 50px;
    font-size: 50px;
    font-family: sans-serif;

}

#tokenSection{
    display: none;
}

.inputContainer {
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    

#botton{
    display: none;
    text-align: center;  
    font-size: 22px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;  
    height: 100px;  
    color: black;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 50px;
    background-color: transparent;
    margin: auto;
    display: block;
    padding: 20px 20px;
    transition: background-color 0.3s ease;

}

#botton:hover{
    background-color: #afeedb;
}

.canvas-container {
    margin: 20px auto;
    width: 50%;
    display:none;
  }
  
  .myChart {
    display:none;
  }

  #artists{
    display:none;
    font-size: 20px;
    font-weight: bold;
  }

  #infoBoxContainer {
    width: 300px;
    position: absolute;
    right: 15%;
    overflow: auto;
    top: 250px;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  #infoBox {
    padding: 30px;
    width: 100%;
    height: 100%;
    min-height: 100px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50px;
    background: #c7f0d9;
    opacity: 0;
    transition: opacity 0.2s ease; /* Add the transition property */
  }
